<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="noindex, nofollow">

	<title>{ifset title}{include title|stripHtml|trim} | {/ifset}{$administration->getTitle()}</title>

	{var $assetsManager = $administration->getAssetsManager()}
	{foreach $assetsManager->getStylesheetsTags($assetsManager->getDefaultEnvironment()) as $assetTag}{$assetTag}{/foreach}
	{foreach $assetsManager->getCriticalScriptsTags($assetsManager->getDefaultEnvironment()) as $assetTag}{$assetTag}{/foreach}

	<link n:if="$administration->hasFavicon()" rel="shortcut icon" href="{$assetsManager->getPath($administration->getFavicon(), $basePath)}">
	{block head}{/block}
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<div class="header__inner">
				<a n:href="$administration->getHomepagePresenter()" rel="home" class="logo">{$administration->getTitle()}</a>

				{if $user->isLoggedIn()}
					{control navigationMain}
				{/if}
			</div>
		</div>

		<div class="content">
			{default $pageContentWide = $presenter->getAction() !== 'create' && $presenter->getAction() !== 'edit'}
			<div n:class="content-primary, $pageContentWide ? content-primary--wide">
				<div class="content-primary__inner">
					<div n:if="!empty($flashes)" class="flash-messages">
						<div n:foreach="$flashes as $flash" n:class="flash-message, 'flash-message--' . $flash->type">{$flash->message}</div>
					</div>

					{if $user->isLoggedIn()}
						{control breadcrumbs}
					{/if}

					<div class="content-block">
						{include content}
					</div>
				</div>
			</div>

			{if $user->isLoggedIn()}
				{control navigationSub}
			{/if}
		</div>

		<div class="footer">
			<div class="footer__inner">
				<div class="footer__block">
					&copy; <a href="https://www.janpecha.cz/">Jan Pecha</a>, 2017-{date('Y')}
				</div>
			</div>
		</div>
	</div>

	{block scripts}
	{foreach $assetsManager->getScriptsTags($assetsManager->getDefaultEnvironment()) as $assetTag}{$assetTag}{/foreach}
	{/block}
</body>
</html>
