name: Static Analysis

on: [push, pull_request]

jobs:
    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4
                  coverage: none

            - run: composer install --no-interaction --prefer-dist
            - run: mkdir -p temp/phpstan
            - run: composer require --dev phpstan/phpstan ^1.0 -d temp/phpstan --no-progress
            - run: composer require --dev phpstan/extension-installer -d temp/phpstan
            - run: composer require --dev phpstan/phpstan-nette -d temp/phpstan
            - run: temp/phpstan/vendor/bin/phpstan analyse --configuration tests/phpstan.neon
